/* .table-container{
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
} */

.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

th{
    background-color: black;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px 8px;
  }
  
td{
    box-shadow: 1px 1px 10px #0b0b0b,
               -1px -1px 10px #ffffff;
}

  tr:nth-child(even) {
    background-color: #dddddd;
  }

tr:hover{
    box-shadow: -2px -2px 15px #06014e,
               2px 2px 15px #ffffff;
}

.btn-container{
    display: flex;
    gap: 0.5rem;
}

  .table-edit-btn{
    padding: 2px 5px;
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(1, 171, 1);
    color: white;
}

.table-edit-btn:hover{
    background-color: rgb(2, 206, 2);
    cursor: pointer;
}

.table-del-btn{
    padding: 2px 5px;
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(225, 4, 4);
    color: white;
}

.table-del-btn:hover{
    background-color: rgb(252, 3, 3);
    cursor: pointer;
}

.table-view-btn{
    padding: 2px 5px;
    border-radius: 0.2rem;
    border: solid 0.5px black;
    background-color: white;

    color: black;
}

.table-view-btn:hover{
    background-color: rgb(29, 104, 255);
    cursor: pointer;
    color: white;
}
/* td{
    padding-right: 3rem;
} */

